@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8, St Arvans Close<br />
    Croydon - CR0 5UR<br />
    <abbr title="Phone">P:</abbr>
    07403 117 163
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vijudk@gmail.com">vijudk@gmail.com</a><br />
   </address>