@{
    ViewBag.Title = "Home Page";
}
<h2>User management and CRUD operation demo</h2>
<h1>Welcome to Project managment,if you are employee please </h1>
<h1>click on above Home link to display the list of Project </h1>
